name: Docker Build and Push

on:
    push:
        branches:
            - main
            - master

jobs:
    build:
        runs-on: ubuntu-latest
        permissions:
            contents: read
            packages: write

        steps:
            - name: Checkout code
              uses: actions/checkout@v4

            - name: Set up Docker Buildx
              uses: docker/setup-buildx-action@v3

            - name: Login to GitHub Container Registry
              uses: docker/login-action@v3
              with:
                  registry: ghcr.io
                  username: ${{ github.actor }}
                  password: ${{ secrets.GITHUB_TOKEN }}

            - name: Build and push main app
              uses: docker/build-push-action@v5
              with:
                  context: .
                  push: true
                  tags: |
                      ghcr.io/${{ github.repository }}:${{ github.sha }}
                      ghcr.io/${{ github.repository }}:latest
                  cache-from: type=registry,ref=ghcr.io/${{ github.repository }}:latest
                  cache-to: type=inline

            ### Restart deployments
            - name: Install kubectl
              uses: azure/setup-kubectl@v3

            - name: Set Kubernetes Context
              run: |
                  mkdir -p ${HOME}/.kube
                  echo "${{ secrets.REDEPLOYER_KUBECONFIG }}" > ${HOME}/.kube/config
                  chmod 600 ${HOME}/.kube/config

            - name: Restart Deployment
              run: |
                  kubectl rollout restart deployment/kafkaornot-io -n kafkaornot-io
